<% layout("/layouts/boilerplate") %>

    <body>
        <div id="filters">
            <div class="filter">
                <a href="/listings/category/trending">
                    <div><i class="fa-solid fa-fire"></i></div>
                    <p>Trending</p>
                </a>
            </div>
            <div class="filter"><a href="/listings/category/rooms">
                    <div><i class="fa-solid fa-bed"></i></div>
                    <p>Rooms</p>
                </a>
            </div>
            <div class="filter">
                <div><a href="/listings/category/iconiccities"><i class="fa-solid fa-mountain-city"></i></div>
                <p>Iconic cities</p>
                </a>
            </div>
            <div class="filter">
                <div><a href="/listings/category/mountains"><i class="fa-solid fa-mountain"></i></div>
                <p>Mountains</p></a>
            </div>
            <div class="filter">
                <div><a href="/listings/category/castles"><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p></a>
            </div>
            <div class="filter">
                <div><a href="/listings/category/amazingpools"><i class="fa-solid fa-person-swimming"></i></div>
                <p>Amazing pools</p>
                </a>
            </div>
            <div class="filter">
                <div><a href="/listings/category/camping"><i class="fa-solid fa-campground"></i></i></div>
                <p>Camping</p></a>
            </div>
            <div class="filter">
                <div><a href="/listings/category/farms"><i class="fa-solid fa-cow"></i></div>
                <p>Farms</p></a>
            </div>
            <div class="filter">
                <div><a href="/listings/category/arctic"><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p></a>
            </div>
            <div class="filter">
                <div><a href="/listings/category/domes"><i class="fa-solid fa-igloo"></i></i></div>
                <p>Domes</p></a>
            </div>
            <div class="filter">
                <div><a href="/listings/category/houseboat"><i class="fa-solid fa-ship"></i></i></div>
                <p>Houseboat</p></a>
            </div>

            <div class="tax-switch">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                    <label class="form-check-label" for="switchCheckDefault">Including tax</label>
                </div>
            </div>
        </div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
            <% for(let listing of allListings){ %>
                <a href="/listings/<%= listing.id %>">
                    <div class="card listing-card col">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image"
                            style="height: 20rem" />
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listing.title %>
                                </b><br />
                                &#8377;<span class="price" data-price="<%= listing.price %>">
                                    <%= listing.price.toLocaleString("en-in") %>
                                </span>/Night
                                <i class="tax-info">&nbsp;&nbsp;18% GST <strong>included</strong></i>
                            </p>
                        </div>
                    </div>
                </a>
                <%}%>
        </div>
        </div>
    </body>


    <script>

        let btn = document.getElementById("switchCheckDefault");
        btn.addEventListener("click", () => {
            let taxInfo = document.getElementsByClassName("tax-info");
            for (const element of taxInfo) {
                if (element.style.display != "inline") {
                    element.style.display = "inline";
                } else {
                    element.style.display = "none";
                }
            }
        })

        const taxRate = 0.18;
        const switchBtn = document.getElementById("switchCheckDefault");

        switchBtn.addEventListener("click", () => {
            const prices = document.querySelectorAll(".price");
            const taxInfo = document.getElementsByClassName("tax-info");

            for (let i = 0; i < prices.length; i++) {
                const basePrice = parseFloat(prices[i].dataset.price);

                if (switchBtn.checked) {
                    // Add tax
                    const totalPrice = Math.round(basePrice * (1 + taxRate));
                    prices[i].innerText = totalPrice.toLocaleString("en-IN");
                    taxInfo[i].style.display = "inline";
                } else {
                    // Show base price
                    prices[i].innerText = basePrice.toLocaleString("en-IN");
                    taxInfo[i].style.display = "none";
                }
            }
        });

    </script>